<section id="clients">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Pricing</h2>
            <h3 class="section-subheading">This is the expected pricing for our service. These prices may vary from client to client.</h3>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="text-center">Base Full Site and Maintenance</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$500 Set Up Fee</strong>
                    </p>
                    <p>
                        <strong>$40/mo Maintenace</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Custom Colors and Structure
                        <span class="fa fa-desktop pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Legally Licensed
                        <span class="fa fa-gavel pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Mobile Friendly
                        <span class="fa fa-mobile pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        24/7 Technical Support
                        <span class="fa fa-life-saver pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Daily Security Updates and Backup
                        <span class="fa fa-shield pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Hosting and Domain
                        <span class="fa fa-cubes pull-right"></span>
                    </li>

                </ul>

                <div class="panel-footer">
                    <a href="#contact" class="btn btn-lg btn-block btn-danger">Inquire</a>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">Social Media</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>Starting at</strong>
                    </p>
                    <p>
                        <strong>$20 / month</strong>
                    </p>

                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Twitter and Facebook Set Up
                        <span class="fa fa-facebook pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Social Media and Web Analytics
                        <span class="fa fa-twitter pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Search Engine Optimization (SEO)
                        <span class="fa fa-google pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Competition Analysis
                        <span class="fa fa-area-chart pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Content Creation
                        <span class="fa fa-folder-open pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Ad Management
                        <span class="fa fa-money pull-right"></span>
                    </li>
                </ul>
                <div class="panel-footer">
                    <a href="#contact" class="btn btn-lg btn-block btn-info">Inquire</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Other Services </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>Contact us</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Database Integration
                        <span class="fa fa-database pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        E-Commerce
                        <span class="fa fa-shopping-cart pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        User Login/Registration
                        <span class="fa fa-users pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Custom Scripting
                        <span class="fa fa-code pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        API Integration
                        <span class="fa fa-cogs pull-right"></span>
                    </li>
                    <li class="list-group-item">
                        Back End Development
                        <span class="fa fa-sitemap pull-right"></span>
                    </li>
                </ul>
                <div class="panel-footer">
                    <a href="#contact" class="btn btn-lg btn-block btn-warning ">Inquire</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>