<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"> We believe all successful businesses need a mobile optimized website. This is why we build our websites to support mobile devices from the ground up. We also provide a host of additional services and tools designed to boost your business' revenue and online presence.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Responsive Design</h4>
                            <p class="text-muted"> Your website responds to the screen size of the user, making sure that all your visitors get a great user experience. In addition, we uses the latest technology to make sure your site looks modern and loads fast.
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-legal fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Copyright</h4>
                            <p class="text-muted">We make sure your site adheres to all relevant copyright rules and write clear and concise copyright and privacy policy.</p>
                        </div>

                    </div>

            </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Content Management</h4>
                            <p class="text-muted">Focus on your business while we manage your content and updates. </p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Social Media</h4>
                            <p class="text-muted">Expand your online presence with social media integration such as Twitter, Facebook, or Yelp. We can manage your accounts and ad campaigns to widen your audience and generate page views.  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>