<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We don't only make websites; we fulfill all of your
                        business' e-Needs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Selling and advertising your products online is the best way to allow
                        reaserching costumers to have you as a choice, and to increase sells in general.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Slow, outdated, flat websites don't go well with modern devices such as
                        smart phones and tablets. That's why we offer auto-adaptable websites that flow smoothly on
                    any device. Take this site as an example</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social Media</h4>
                    <p class="text-muted">Social media is not only like a website, where people go find information
                        about something they want, it's also a way to promote your product to an audience you might not have had.</p>
                </div>
            </div>
        </div>
    </section>